
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
$dark: #222;
$ghost: #fefefe;
$burntOrange: #cc2200;
$grey: #999;
$smoke: rgba(255,255,255,.2);

@mixin focusText
{
  border-radius:.5rem;
  background:white;
  padding:1rem;
  color:black;
  overflow:hidden;
}

html, body
{
	border:0;
	padding:0;
	font-family:"Ubuntu", san-serif;
	color: $burntOrange;
	text-align:center;
}

body
{
	background:black;
	background-image: linear-gradient(45deg, $smoke, transparent);
	height:100%;
}

h1, h2, h3
{
	font-family:"Permanent Marker", script;
	text-transform:capitalize;
}

h2
{
	text-align:center;
}

a
{
	color:$grey;
	text-decoration:none;
}

#vb_notification
{
	font-weight:bold;
	text-align:center;

	#vb_notification_notice
	{
		color:lightGreen;
	}
	#vb_notification_alert
	{
		color:red;
	}
}

#vb_primary
{
	padding:1rem;
	background:black;
	text-align:left;
	margin-top:1rem;
	margin-bottom:1rem;
	@media screen and (min-width:768px)
	{
		display:inline-block;
		width:60%;
		margin:1rem;
	}
}

#vb_sidebar
{
	padding:1rem;
	border:thin solid black;
	background:$ghost;

		@media screen and (min-width:768px)
	{
		vertical-align:top;
		display:inline-block;
		width:20%;
		margin:1rem;
	}
    
	h3
	{
		text-transform:capitalize;
		font-size:1.5rem;
	}

	ul 
	{
		padding:0;
	}

    li
    {
    	overflow:hidden;
    	list-style-type:none;
    	text-align:left;
    	margin:.5rem;

    	
    	img 
    	{
    		margin-right:.5rem;
    		width: 3rem;
    		height: 3rem;
    		float:left;
		}
	}
    


}

#vb_header
{
	text-align:center;
	*
	{
		-webkit-transition:all,.5s;
		transition:all,.5s;
	}
	
	nav
	{
		margin-bottom:1rem;
		a
		{

			display:inline-block;
			height: 5rem;
			width: 5rem;
			border-radius:2.5rem;
			text-align:center;
			line-height:5rem;
			text-transform:capitalize;

			background: radial-gradient(black 60%, lighten(black, 10%) 60%, lighten(black, 10%) 64%, black 64%);
			background-size:contain;
			color: $burntOrange;


			&:hover
			{
				background: radial-gradient(black 58%, $burntOrange 60%, $burntOrange 62%, black 64%);   

			}
		}
	}
}

.pagination
{
	text-transform:lowercase;

	.current
	{
		background:$burntOrange;
		color:$ghost;
		padding-left:.25rem;
		padding-right:.25rem;
		border-radius:.25rem;
	}

	.previous_page.disabled, .next_page.disabled
	{
		color:$ghost;
		opacity:.15;
	}
}

//posts pages

.posts_index h2
{
	display:none;
}

#vb_sort_by
{
	text-transform:capitalize;

	float:right;
	background:$ghost;
	color:black;
	margin-bottom:1rem;
	padding:1rem;
	margin-right:-1rem;
	border-left:thick solid $burntOrange;
	box-shadow: -5px 0px 0px 0px $ghost;

	a
	{
		text-decoration:underline;

		&:hover
		{
			color:black;
		}
	}
}

.vb_post_block
{
  min-width:90%;	
  overflow:hidden;
  padding:1rem;
  background:lighten(black, 10%);
  border-radius:3rem;
  border:solid thick black;
  box-shadow: 0 0 0 .25rem lighten(black, 10%);
  margin-top:1rem;
  margin-bottom:1rem;

  &:hover
  {
  	border:thick solid $ghost;
  }

  h3
  {
    margin: auto .5rem .5rem auto;
    color:$burntOrange;
  }	  

  .vb_post_block_date
  {
  	font-size:.75rem;
  	display:inline-block;
  	margin-left:1rem;
  }

  .vb_post_block_category
  {
    font-size:.75rem;
    padding:.25rem;
    background:$ghost;
    color:black;
	-webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
    	
    &:after
    {
    	content:" • ";
    }
  }

}

.posts_show
{
	
	[itemprop="articleBody"]
	{
		@include focusText;
	}

	#vb_post_published
	{
		font-size:.75rem;
	}	

}

//about pages
.about_index
{
	#vb_primary div
	{
		@include focusText;
	}
}

//categories pages
.categories_index
{
	#vb_primary
	{
		text-align:center;
	}
	
	.vb_category_index_block
	{
		display:inline-block;
		background:$burntOrange;
		width: 45%;
		padding-top:1rem;
		padding-bottom:1rem;
		margin-top:1rem;
		border-radius:.5rem;
		text-transform:uppercase;
		color:$ghost;
		transition: all, .5s;

		&:hover
		{
			background:$ghost;
			color:black;
		}

		@media screen and (min-width:667px)
		{
			width: 30%;
		}

		@media screen and (min-width:1440px)
		{
			width: 20%;
		}

	}
}

.categories_show
{
	#vb_primary
	{
		h3
		{
			margin-bottom:0;

			&:before
			{	
				content:" > ";
				font-size:2rem;
				font-weight:bold;
				color:$burntOrange;
			}	
		}

		p
		{
			margin-top:0;
		}
	
	}
	
}