@import url(http://fonts.googleapis.com/css?family=Arimo);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body, html {
  background: #fefefe;
  font-family: 'Arimo', sans-serif;
  color: #555; }

a {
  color: #00688B;
  text-decoration: none;
  -webkit-transition: all,.5s;
  -moz-transition: all, .5s;
  transition: all,.5s; }
  a:hover {
    color: #00b4f1; }

header {
  text-align: center; }
  header nav {
    -moz-transition: all,.5s;
    -webkit-transition: all,.5s;
    transition: all,.5s;
    background: #C9A16C;
    height: 100%;
    width: 50%;
    position: fixed;
    left: -50%;
    top: 0;
    text-align: left;
    padding-left: 1rem; }
    @media screen and (min-width: 1024px) {
      header nav {
        background: #e5e5e5;
        position: static;
        width: 100%;
        text-align: center;
        margin: auto; } }
    header nav * {
      display: block;
      text-transform: capitalize;
      margin-top: 1rem; }
      @media screen and (min-width: 1024px) {
        header nav * {
          display: inline-block;
          margin: 1rem; } }
  header .show_nav {
    left: 0; }

#vb_flash_messages {
  width: 100%;
  border: red solid thick;
  border-radius: .25rem;
  background: #ff8080;
  font-weight: bold;
  color: white;
  padding: 1rem;
  text-align: center; }

#vb_admin_menu_toggle {
  border: thin solid #00688B;
  font-family: inherit;
  text-transform: uppercase;
  color: #002f3f;
  background: none;
  border-radius: .25rem; }
  @media screen and (min-width: 1024px) {
    #vb_admin_menu_toggle {
      display: none; } }

h1 {
  font-family: 'Josefin Sans', sans-serif; }
  h1 a {
    color: #C9A16C; }
    h1 a:hover {
      color: #C9A16C; }

h2 {
  text-transform: Capitalize; }

@media screen and (min-width: 768px) {
  #vb_admin_main {
    width: 80%;
    margin: auto; } }

#vb_admin_posts_per_page {
  text-align: center;
  border-radius: .25rem;
  padding: .25rem;
  color: #fefefe;
  background: #555;
  display: inline-block;
  float: right;
  margin-bottom: 1rem;
  margin-right: 1rem; }
  #vb_admin_posts_per_page a {
    color: #C9A16C; }
  #vb_admin_posts_per_page .current_posts_per_page {
    color: #976e38; }

table {
  width: 100%;
  border-collapse: collapse; }

tbody {
  border: 1px solid #F0F0F0; }

td {
  padding: .25rem; }

tr:nth-child(even) {
  background: #f2e9dc; }

th {
  text-transform: capitalize;
  text-align: left; }

#vb_admin_posts td:nth-child(2) {
  width: 90%; }
#vb_admin_posts th, #vb_admin_posts td:nth-child(1), #vb_admin_posts td:nth-child(3), #vb_admin_posts td:nth-child(4) {
  display: none; }
@media screen and (min-width: 640px) {
  #vb_admin_posts th, #vb_admin_posts td {
    display: table-cell !important; }
  #vb_admin_posts td:nth-child(2) {
    width: 40%; } }

#vb_admin_themes {
  border: thin solid #F0F0F0;
  padding: .5rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem; }

@media screen and (min-width: 1024px) {
  #vb_admin_categories {
    width: 50%; } }
#vb_admin_categories td:nth-child(3) {
  background: #fefefe; }

@media screen and (min-width: 1024px) {
  #vb_form {
    width: 80%;
    margin: auto; } }

#vb_admin_post_form_published_tags label {
  display: inline-block; }
#vb_admin_post_form_published_tags input {
  width: 0;
  height: 0;
  opacity: 0; }
  #vb_admin_post_form_published_tags input + span {
    color: #a4a4a4; }
  #vb_admin_post_form_published_tags input:checked + span {
    border-radius: 1rem;
    padding: .4rem;
    color: white;
    background-color: #888888;
    border: thin solid #555; }

#vb_admin_post_form_category_tags {
  border: thin solid #F0F0F0;
  border-radius: .25rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: .5rem; }
  #vb_admin_post_form_category_tags label {
    display: inline-block; }
  #vb_admin_post_form_category_tags input[type="radio"] {
    width: 0;
    height: 0;
    opacity: 0; }
    #vb_admin_post_form_category_tags input[type="radio"] + span {
      font-size: 1rem;
      border-radius: .25rem;
      background: #555;
      color: #fefefe;
      padding: .25rem; }
    #vb_admin_post_form_category_tags input[type="radio"]:checked + span {
      color: darkOrange; }

.vb_admin_inputs label {
  margin-top: .5rem;
  display: block;
  font-size: 1.25rem; }
.vb_admin_inputs small {
  color: #00688B;
  display: block;
  font-style: italic;
  padding-bottom: .25rem; }
.vb_admin_inputs input[type="text"], .vb_admin_inputs textarea, .vb_admin_inputs input[type="submit"] {
  width: 100%;
  border: 1px solid #F0F0F0;
  background: #F0F0F0;
  padding: .5rem;
  border-radius: .25rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-right: 1rem; }
  @media screen and (min-width: 768px) {
    .vb_admin_inputs input[type="text"], .vb_admin_inputs textarea, .vb_admin_inputs input[type="submit"] {
      width: 50%; } }
  @media screen and (min-width: 1024px) {
    .vb_admin_inputs input[type="text"], .vb_admin_inputs textarea, .vb_admin_inputs input[type="submit"] {
      width: 25%; } }
.vb_admin_inputs textarea {
  height: 10rem;
  resize: none;
  font-family: inherit; }
  @media screen and (min-width: 1024px) {
    .vb_admin_inputs textarea {
      width: 50%; } }
.vb_admin_inputs input[type="submit"] {
  background: #555;
  color: #fefefe;
  cursor: pointer;
  margin-top: .5rem;
  margin-bottom: .5rem; }
  @media screen and (min-width: 480px) {
    .vb_admin_inputs input[type="submit"] {
      width: 50%; } }
  @media screen and (min-width: 768px) {
    .vb_admin_inputs input[type="submit"] {
      width: 40%; } }
  @media screen and (min-width: 1024px) {
    .vb_admin_inputs input[type="submit"] {
      width: 20%; } }
.vb_admin_inputs select {
  font-size: 1.15rem;
  font-family: inherit;
  color: #fefefe;
  background: #555;
  border-radius: .25rem;
  min-width: 8rem;
  margin-right: 1rem; }
  .vb_admin_inputs select:checked {
    color: darkOrange; }

/*# sourceMappingURL=admin.css.map */
