<div id="vb_admin_main">
<div id="vb_admin_posts">
  <h2>
    posts
  </h2>
  <div id="vb_admin_posts_per_page">
    <small>posts per page</small><br/>
    <%=[10, 20, 50, 100].collect do |n|

      (link_to n, "/admin?posts_per_page=#{n}", :class=> (@posts_per_page == n)? "current_posts_per_page":" " ) + "&nbsp;".html_safe
    end.join.html_safe%>
  </div>
  <table>
    <thead>
      <tr>
        <% %w[updated_at title category views published].each do |h|%>
          <th>
            <%=link_to h.gsub('_',' '), "/admin?sort_posts_by=#{url_encode(h)}&desc=#{!to_bool(params[:desc])}", :title=>"sort posts by #{h}"%>
          </th>
        <%end%> 
    	</tr>
      </thead>
      <tbody>
        <%@posts.each do |post|%>
          <tr>
            <td><small><%=post.updated_at.strftime "%-m/%d/%y" %></small></td>
            <td><%=link_to post.title, edit_post_path(post.id) %></td>
            <td><%=post.category.name%></td>
            <td><%=post.views%></td>
            <td>
              <span data-published=<%=post.published%> title="<%=(post.published)? 'Published':'Not published'%>">
                <%= (post.published)? "yes" : "no"%>
              </span>
            </td>
          </tr>  
        <%end%>  
    </tbody>    
  </table> 
</div>

<div id="vb_admin_categories">
  <h2>
    categories
  </h2>
  <table>
    <tbody>
  	  <%@categories.each do |cat|%>
  	  <tr>
  	  	<td>
  	  	  <%=link_to cat.name, edit_category_path(cat)%>
  	  	</td>
        <td>
          <%=link_to cat.posts.length.to_s + " posts", cat%>
        </td>  
  	  	<% if @categories.length > 1 && cat.posts.length < 1%>
  	  	<td>
  	  	  <%= link_to 'remove', cat, method: :delete%>
	  	</td>
	  	<%end%>
	   </tr> 	
	 <%end%>
  	</tbody>
  </table>
</div>
</div>