<%unless flash[:errors].nil?%>
  <div id="vb_flash_messages">
    <%=flash[:errors]%>
  </div>
<%end%>  
<div id="vb_form">
  <%=form_tag "/admin/settings", :method=>"POST" do %>
  <div class="vb_admin_inputs">
    <%=label_tag :headline%>
    <small>This is the headline for your blog.</small>
    <%=text_field_tag "blog[title]", @blog.title%>
  </div>    

  <h2>
    themes
  </h2>
  <div id="vb_admin_themes" class="vb_admin_inputs">
  <%=label_tag :select_theme%>
  <select name="blog[theme]">
  <%@themes.each do |theme|%>
    <option value="<%=theme.name%>" <%=(theme.name == @blog.theme)? "selected" : ""%>>
      <%=theme.name%>
    </option> 
  <%end%>
  </select>
  <%=link_to "add theme..", "/themes/upload"%>
</div>
<div id="vb_admin_social">
  <ul>
  <%unless @blog.social.nil?
    @blog.social.each do |name, value|%>
      <input type="hidden" name="blog[social][<%=name%>]" value="<%=value%>">
      <li><%=name%> == <%=value%></li>
    <%end%>
  <%end%>
  </ul>
  
  add social site! 
  <input type="text" name = "blog[social]"%>
</div>

  <div class="vb_admin_inputs">
    <%= submit_tag %>
    <%= link_to 'cancel', :back %>
  </div>  
<%end%>
</div>
