<h2>
  upload theme
</h2>

<%=form_tag "/themes/upload", :method=>"POST",  :enctype=>"multipart/form-data"  do%>
  <label>
    select theme folder
  </label>
  <input type="file" name="theme_zip" accept=".zip">  
  <%=submit_tag%>
<%end%>