@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
html, body {
  border: 0;
  padding: 0;
  font-family: "Ubuntu", san-serif;
  color: #cc2200;
  text-align: center; }

body {
  background: black;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2), transparent);
  height: 100%; }

h1, h2, h3 {
  font-family: "Permanent Marker", script;
  text-transform: capitalize; }

h2 {
  text-align: center; }

a {
  color: #999;
  text-decoration: none; }

#vb_notification {
  font-weight: bold;
  text-align: center; }
  #vb_notification #vb_notification_notice {
    color: lightGreen; }
  #vb_notification #vb_notification_alert {
    color: red; }

#vb_primary {
  padding: 1rem;
  background: black;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  @media screen and (min-width: 768px) {
    #vb_primary {
      display: inline-block;
      width: 60%;
      margin: 1rem; } }

#vb_sidebar {
  padding: 1rem;
  border: thin solid black;
  background: #fefefe; }
  @media screen and (min-width: 768px) {
    #vb_sidebar {
      vertical-align: top;
      display: inline-block;
      width: 20%;
      margin: 1rem; } }
  #vb_sidebar h3 {
    text-transform: capitalize;
    font-size: 1.5rem; }
  #vb_sidebar ul {
    padding: 0; }
  #vb_sidebar li {
    overflow: hidden;
    list-style-type: none;
    text-align: left;
    margin: .5rem; }
    #vb_sidebar li img {
      margin-right: .5rem;
      width: 3rem;
      height: 3rem;
      float: left; }

#vb_header {
  text-align: center; }
  #vb_header * {
    -webkit-transition: all,.5s;
    transition: all,.5s; }
  #vb_header nav {
    margin-bottom: 1rem; }
    #vb_header nav a {
      display: inline-block;
      height: 5rem;
      width: 5rem;
      border-radius: 2.5rem;
      text-align: center;
      line-height: 5rem;
      text-transform: capitalize;
      background: radial-gradient(black 60%, #1a1a1a 60%, #1a1a1a 64%, black 64%);
      background-size: contain;
      color: #cc2200; }
      #vb_header nav a:hover {
        background: radial-gradient(black 58%, #cc2200 60%, #cc2200 62%, black 64%); }

.pagination {
  text-transform: lowercase; }
  .pagination .current {
    background: #cc2200;
    color: #fefefe;
    padding-left: .25rem;
    padding-right: .25rem;
    border-radius: .25rem; }
  .pagination .previous_page.disabled, .pagination .next_page.disabled {
    color: #fefefe;
    opacity: .15; }

.posts_index h2 {
  display: none; }

#vb_sort_by {
  text-transform: capitalize;
  float: right;
  background: #fefefe;
  color: black;
  margin-bottom: 1rem;
  padding: 1rem;
  margin-right: -1rem;
  border-left: thick solid #cc2200;
  box-shadow: -5px 0px 0px 0px #fefefe; }
  #vb_sort_by a {
    text-decoration: underline; }
    #vb_sort_by a:hover {
      color: black; }

.vb_post_block {
  min-width: 90%;
  overflow: hidden;
  padding: 1rem;
  background: #1a1a1a;
  border-radius: 3rem;
  border: solid thick black;
  box-shadow: 0 0 0 0.25rem #1a1a1a;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .vb_post_block:hover {
    border: thick solid #fefefe; }
  .vb_post_block h3 {
    margin: auto .5rem .5rem auto;
    color: #cc2200; }
  .vb_post_block .vb_post_block_date {
    font-size: .75rem;
    display: inline-block;
    margin-left: 1rem; }
  .vb_post_block .vb_post_block_category {
    font-size: .75rem;
    padding: .25rem;
    background: #fefefe;
    color: black;
    -webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%); }
    .vb_post_block .vb_post_block_category:after {
      content: " • "; }

.posts_show [itemprop="articleBody"] {
  border-radius: .5rem;
  background: white;
  padding: 1rem;
  color: black;
  overflow: hidden; }
.posts_show #vb_post_published {
  font-size: .75rem; }

.about_index #vb_primary div {
  border-radius: .5rem;
  background: white;
  padding: 1rem;
  color: black;
  overflow: hidden; }

.categories_index #vb_primary {
  text-align: center; }
.categories_index .vb_category_index_block {
  display: inline-block;
  background: #cc2200;
  width: 45%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-radius: .5rem;
  text-transform: uppercase;
  color: #fefefe;
  transition: all, .5s; }
  .categories_index .vb_category_index_block:hover {
    background: #fefefe;
    color: black; }
  @media screen and (min-width: 667px) {
    .categories_index .vb_category_index_block {
      width: 30%; } }
  @media screen and (min-width: 1440px) {
    .categories_index .vb_category_index_block {
      width: 20%; } }

.categories_show #vb_primary h3 {
  margin-bottom: 0; }
  .categories_show #vb_primary h3:before {
    content: " > ";
    font-size: 2rem;
    font-weight: bold;
    color: #cc2200; }
.categories_show #vb_primary p {
  margin-top: 0; }

/*# sourceMappingURL=theme.css.map */
