@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Raleway);

$bblue:#003366;
$flatGrey:#777;
$coal:#222;

body, html
{
	font-family:"Raleway", arial, san-serif;
	color:$bblue;
	text-align:center;
}


html
{
	background-color:$bblue;
	background-image: linear-gradient(45deg, transparent 50%, white 50%),
	  linear-gradient(70deg, rgba(255,255,255, .3) 30%, transparent 30%),
	  linear-gradient(100deg, rgba(255,255,255, .6) 10%, transparent 10%);;
	background-size:150% 100% 2rem 2rem;
   
}


#vb_notification
{
	background-color:white;
}
header
{
	border-bottom:double thick $flatGrey;
	padding-bottom:1rem;
	margin-bottom:1rem;
}

a
{
	text-decoration:none;
	color:inherit;
	transition: all, .45s;
	-webkit-transition: all, .45s;

	&:hover
	{
		color:$coal;
		text-decoration:underline;
	}

}

h1
{
  font-family:"Droid Serif", Impact, serif;
  
  a:hover
  {
  	text-decoration:none;
  }	  
}

h3, h2
{
	text-transform:capitalize;	
}


#vb_breadcrumbs
{
	font-size:.75rem;
}

//will_paginate
.pagination
{
	text-align:center;

	em[class="current"]
	{
		color:white;
		background:$bblue;
		width:1rem;
		padding:.25rem;
		border-radius:.2rem;
	}

	span[class="previous_page disabled"], 	span[class="next_page disabled"]

	{
		color:lighten($flatGrey,15%);
	}

	
}


#vb_primary
{
	vertical-align:top;
	text-align:left;
	color:$coal;
	background:white;
	padding:1rem;
	border:thin solid $flatGrey;
	border-top-right-radius:1rem;

	a:hover
	{
		text-decoration:none;
	}

	#vb_post_headline
	{
		margin-top:0;
	}

	#vb_post_published
	{
		font-size:.75rem;
	}


	@media screen and (min-width:768px)
	{
		margin:1rem;
		width:60%;
		display:inline-block;
		margin-right:1rem;
	}

	@media screen and (min-width:1440px)
	{
		width:50%;
	}
}

#vb_sort_by
{
	background:rgba(255,255,255,.8);
	padding:1rem;
	display:inline-block;
	border-bottom-left-radius:.5rem;
	color:$flatGrey;
	text-transform:capitalize;
	border-left:thin solid $flatGrey;
	border-bottom:thin solid $flatGrey;
	float:right;
	margin-bottom:1rem;

	a
	{
		margin-right:.5rem;
		font-size:.85rem;
		&:hover
		{
			color:$bblue;	
		}
	}

	p
	{
		padding:0;
		margin:0;
		color:$bblue;
	}
}

#vb_categories_container
{
	margin-left:2.5%;

	@media screen and (min-width:480px)
	{
		margin-left:7%;
	}

}
.vb_category_index_block
{
	text-align:center;
	display:inline-block;
	width:48%;
	background:$flatGrey;
	color:white;
	line-height:2rem;
	margin-top:.5rem;
	margin-bottom:.5rem;
	transition:all,.5s;

	&:hover
	{
		color:lighten($bblue,50%);
		background:darken($flatGrey,15%);
	}
	
	@media screen and (min-width:480px)
	{
		width:30%;
	}

	@media screen and (min-width:1024px)
	{
		margin:3%;
		width:25%;
	}

}

.vb_categories_block
{
	transition:all,.5s;
	
	
	h3, p
	{
		display:inline-block;
	}

	h3:after
	{
	  content:":";
	}

	h3:before
	{
	  content:"\25b6 \a0";
	  
	  color: $bblue;

	}

	&:hover
	{
	  color:$bblue;
	}

}


.vb_post_block
{
	padding:1rem;
	margin:1rem;
	background:#c0c0c0;
	color:$bblue;
	border-bottom-left-radius:1rem;
	-webkit-transaction:all,.5s;
	transition:all,.5s;

	&:hover
	{		
		box-shadow:2px 2px 2px $coal, -2px -2px 2px $coal;
		cursor:pointer;
	}

	.vb_post_block_date
	{
		display:inline-block;	
		background:$coal;
		color:white;
		padding:.25rem;
		margin-top:-3%;
		margin-left:-3%;
		border-bottom-right-radius:.5rem;

		div
		{
			display:inline-block;
		}	

		.basic_post_block_date_day
		{
			font-size:3rem;
			line-height:3rem;
			vertcal-align:center;
			padding:0;
		}
		.basic_post_block_date_month, .basic_post_block_date_year
		{
			display:block;
		}
	}

	.vb_post_block_category
	{
		background:white;
		padding:.25rem;
		float:right;
		font-size:.75rem;
	}
}

#vb_disqus
{
  background: $flatGrey;
  padding:1rem;	
}

#vb_sidebar
{
	vertical-align:top;
	margin-top:1rem;
	text-align:left;
	padding:1rem;
	border: thin solid lighten($flatGrey, 15%);
	border-radius:.25rem;
	background:white;


	@media screen and (min-width:768px)
	{
		width:20%;
		display:inline-block;
	}

	@media screen and (min-width:1440px)
	{
		width:10%;
	}


	ul
	{
		list-style-type:none;
		padding:1rem;
		border: thin solid lighten($flatGrey, 35%);
		border-radius:.25rem;



		small
		{
			color:$flatGrey;
		}
	}
}
