@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Raleway);
body, html {
  font-family: "Raleway", arial, san-serif;
  color: #003366;
  text-align: center; }

html {
  background-color: #003366;
  background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(70deg, rgba(255, 255, 255, 0.3) 30%, transparent 30%), linear-gradient(100deg, rgba(255, 255, 255, 0.6) 10%, transparent 10%);
  background-size: 150% 100% 2rem 2rem; }

#vb_notification {
  background-color: white; }

header {
  border-bottom: double thick #777;
  padding-bottom: 1rem;
  margin-bottom: 1rem; }

a {
  text-decoration: none;
  color: inherit;
  transition: all, .45s;
  -webkit-transition: all, .45s; }
  a:hover {
    color: #222;
    text-decoration: underline; }

h1 {
  font-family: "Droid Serif", Impact, serif; }
  h1 a:hover {
    text-decoration: none; }

h3, h2 {
  text-transform: capitalize; }

#vb_breadcrumbs {
  font-size: .75rem; }

.pagination {
  text-align: center; }
  .pagination em[class="current"] {
    color: white;
    background: #003366;
    width: 1rem;
    padding: .25rem;
    border-radius: .2rem; }
  .pagination span[class="previous_page disabled"], .pagination span[class="next_page disabled"] {
    color: #9d9d9d; }

#vb_primary {
  vertical-align: top;
  text-align: left;
  color: #222;
  background: white;
  padding: 1rem;
  border: thin solid #777;
  border-top-right-radius: 1rem; }
  #vb_primary a:hover {
    text-decoration: none; }
  #vb_primary #vb_post_headline {
    margin-top: 0; }
  #vb_primary #vb_post_published {
    font-size: .75rem; }
  @media screen and (min-width: 768px) {
    #vb_primary {
      margin: 1rem;
      width: 60%;
      display: inline-block;
      margin-right: 1rem; } }
  @media screen and (min-width: 1440px) {
    #vb_primary {
      width: 50%; } }

#vb_sort_by {
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  display: inline-block;
  border-bottom-left-radius: .5rem;
  color: #777;
  text-transform: capitalize;
  border-left: thin solid #777;
  border-bottom: thin solid #777;
  float: right;
  margin-bottom: 1rem; }
  #vb_sort_by a {
    margin-right: .5rem;
    font-size: .85rem; }
    #vb_sort_by a:hover {
      color: #003366; }
  #vb_sort_by p {
    padding: 0;
    margin: 0;
    color: #003366; }

#vb_categories_container {
  margin-left: 2.5%; }
  @media screen and (min-width: 480px) {
    #vb_categories_container {
      margin-left: 7%; } }

.vb_category_index_block {
  text-align: center;
  display: inline-block;
  width: 48%;
  background: #777;
  color: white;
  line-height: 2rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  transition: all,.5s; }
  .vb_category_index_block:hover {
    color: #66b3ff;
    background: #515151; }
  @media screen and (min-width: 480px) {
    .vb_category_index_block {
      width: 30%; } }
  @media screen and (min-width: 1024px) {
    .vb_category_index_block {
      margin: 3%;
      width: 25%; } }

.vb_categories_block {
  transition: all,.5s; }
  .vb_categories_block h3, .vb_categories_block p {
    display: inline-block; }
  .vb_categories_block h3:after {
    content: ":"; }
  .vb_categories_block h3:before {
    content: "\25b6 \a0";
    color: #003366; }
  .vb_categories_block:hover {
    color: #003366; }

.vb_post_block {
  padding: 1rem;
  margin: 1rem;
  background: #c0c0c0;
  color: #003366;
  border-bottom-left-radius: 1rem;
  -webkit-transaction: all,.5s;
  transition: all,.5s; }
  .vb_post_block:hover {
    box-shadow: 2px 2px 2px #222, -2px -2px 2px #222;
    cursor: pointer; }
  .vb_post_block .vb_post_block_date {
    display: inline-block;
    background: #222;
    color: white;
    padding: .25rem;
    margin-top: -3%;
    margin-left: -3%;
    border-bottom-right-radius: .5rem; }
    .vb_post_block .vb_post_block_date div {
      display: inline-block; }
    .vb_post_block .vb_post_block_date .basic_post_block_date_day {
      font-size: 3rem;
      line-height: 3rem;
      vertcal-align: center;
      padding: 0; }
    .vb_post_block .vb_post_block_date .basic_post_block_date_month, .vb_post_block .vb_post_block_date .basic_post_block_date_year {
      display: block; }
  .vb_post_block .vb_post_block_category {
    background: white;
    padding: .25rem;
    float: right;
    font-size: .75rem; }

#vb_disqus {
  background: #777;
  padding: 1rem; }

#vb_sidebar {
  vertical-align: top;
  margin-top: 1rem;
  text-align: left;
  padding: 1rem;
  border: thin solid #9d9d9d;
  border-radius: .25rem;
  background: white; }
  @media screen and (min-width: 768px) {
    #vb_sidebar {
      width: 20%;
      display: inline-block; } }
  @media screen and (min-width: 1440px) {
    #vb_sidebar {
      width: 10%; } }
  #vb_sidebar ul {
    list-style-type: none;
    padding: 1rem;
    border: thin solid #d0d0d0;
    border-radius: .25rem; }
    #vb_sidebar ul small {
      color: #777; }

/*# sourceMappingURL=theme.css.map */
