<%unless flash[:errors].nil?%>
  <div id="vb_flash_messages">
    <%=flash[:errors]%>
  </div>
<%end%>  
<div id="vb_form">
<%= form_for(@post) do |f| %>
  <div class="vb_admin_inputs">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :description %>
    <small>This is a short teaser, describing your post.</small>
    <%= f.text_area :description %>
    <%= f.label :cover_image %>
    <small>The URL of the image that will show for this post in search results.</small>
    <%= f.text_field :cover_image %>
    <%= f.label :published %>
    <div id="vb_admin_post_form_published_tags">
      <label><%= f.radio_button :published, true, checked: @post.published%><span>yes</span></label>
      <label><%= f.radio_button :published, false, checked: !@post.published %><span>no</span></label>
    </div>
    <%=label_tag :category_id%>
    <div id="vb_admin_post_form_category_tags">
      <%@categories.each do |cat|%>
        <label>
          <%= f.radio_button(:category_id, cat.id, {checked: cat.id == @post.category_id, :required=>true})+ "<span>#{cat.name}</span>".html_safe%>  
        </label>
      <%end%>
    </div>  
  </div>
  <%= f.text_area :body, :id=>"textEditor" %>
  <div class="vb_admin_inputs">
    <%= f.submit %>
    <%= link_to 'cancel', :back %>
  </div>  
<% end %>
<script type="text/javascript" src="/assets/javascripts/ckInjector.js"></script>
<script type="text/javascript">
  ckInjector(textEditor);
</script>
</div>