
<h2>
  posts
</h2>

<div id="vb_primary">
<div id="vb_sort_by">
  <p>
    sort by:
  </p>
  <%=link_to "alphabetical", "/posts?sort_by=title" %>
  <%=link_to "most popular", "/posts?sort_by=views" %>
  <%=link_to "most recent", "/posts?sort_by=updated_at" %>
</div>
<div>
<%@posts.each do |post|%>
  <div class="vb_post_block">
    <%=link_to(post.vanity_url, :class=>"vb_post") do%>
      <div class="vb_post_block_date">
        <span><%=post.updated_at.strftime "%d %b %Y"%></span>
      </div>
    <%end%>
    <%=link_to(post.vanity_url, :class=>"vb_post") do%>
      <h3>
        <%=post.title%>
      </h3>
    <%end%>
    <%=link_to post.category.name, "/categories/#{u (post.category.name)}", {:class=>"vb_post_block_category"}%>
    <%=link_to(post.vanity_url, :class=>"vb_post") do%>
      <p>
        <%=post.description%>
      </p>  
    <%end%>
  </div>
<%end%>

<%= will_paginate @posts %>  
</div>
</div>
<%=render 'sidebar' %>
