<div id="vb_post">
  <div id="vb_breadcrumbs">
    <%=link_to "home", root_path%>
    &#8594;
    <%=link_to "posts", posts_path%>
    &#8594;
    <%=link_to @post.category.name, "/categories/#{@post.category.name}"%>
  </div>
  <div id="vb_primary">
    <h2 id="vb_post_headline">
      <%=@post.title%>
    </h2>
    <div id="vb_post_description" itemprop="description">
      <img id="vb_post_cover_image" itemprop="image" src="<%=@post.cover_image%>" alt="<%=@post.title%>"/>
      <%=@post.description%>
    </div>
    <div id="vb_post_published" itemprop="datePublished" content="<%=@post.updated_at%>">
     <p>Published on <b><%=@post.updated_at.strftime("%b %d, %Y")%></b> by <b><%=link_to @blog.author, @blog.google_plus+"?rel=author"%></b></p>
    </div>
    <div itemprop="articleBody">  
      <%=@post.body.html_safe%>
    </div>
    <div id="vb_disqus">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = '<%=API_KEYS["disqus"]["shortname"]%>';
        var disqus_title = '<%=@post.title%>';
        var disqus_identifier = '<%@post.id%>';
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
    </div>
  </div>
  <%=render 'sidebar' %>
 
