
<h1>
  Setting Up Velociblogger
</h1>
<p>
  <b>Velociblogger</b> requires 2 accounts to function - Google and Disqus. 
</p>

<h2>
  Step 2: registering your app with Disquis.
</h2>

<p>
Great! Your Google Account Credentials are:
</p>
<table>
  <tbody>
    <tr>
      <td><b>Google Client ID</b></td>
      <td><%=@google_client_id%></td>
    </tr>
    <tr>  
      <td><b>Google Client Secret</b></td>
      <td><%=@google_client_secret%></td>
    </tr>
    <tr>  
      <td><b>Google Email Address</b></td>
      <td><%=@google_email_address%></td>
    </tr>
  </tbody>
</table>


<p>
Now, let's add your Disqus account!
<%=form_tag("step_3", :method=>"POST") do%>
  <%=hidden_field_tag 'setup[google_client_id]', @google_client_id%>
  <%=hidden_field_tag 'setup[google_client_secret]', @google_client_secret%>
  <%=hidden_field_tag 'setup[google_email_address]', @google_email_address%>
  <%=label_tag "disqus_shortname"%>
  <%=text_field_tag 'setup[disqus_shortname]'%>
  <%=submit_tag%>
<%end%>

</p>  