<h1>
  Setting Up Velociblogger
</h1>

<h2>
  blog setup
</h2>
<p>
  Please set initial values for your blog.
</p>

<%=form_tag "step_4", :method=>"POST" do%>
  <%=label_tag :title%>
  <%=text_field_tag :title, nil, :required=>true%>
  <%=label_tag :category%>
  <%=text_field_tag :category,nil, :required=>true%>
  <%=submit_tag "next"%>
<%end%>
