

<div id="vb_setup_primary">
  <h2>
    welcome to velociblogger
  </h2>
  <p>
    Velociblogger is designed to make blogging easy and fun. With just some simple configuration, we will have you 
    blogging in no time! Let&apos;s get started. This setup wizard will walk you through the entire process.  
  </p>
  <div>
    <h3>
      environmental variables
    </h3>
    <%= form_tag ("step_2", :method=>"POST") do%>
    <small>
      Will your blog app have write permissions on your host&apos;s file system?
    </small>
      <label>
        <input type="radio" name="blog_write_permissions" value="no" required/>
        no
      </label>
      <label>
      <input type="radio" name="blog_write_permissions" value="no" required/>
        yes
      </label>  
    <%end%> 
  </div>
</div>



<p>
  <b>Velociblogger</b> requires you to have a minimum of 2 external accounts to function - Google and Disqus. 
</p>

<h2>
  Step 1: registering your app with Google.
</h2>

<p>
Register your application with Google using the 
 <a href="https://code.google.com/apis/console/" target="_BLANK">Google APIs Console</a>. 
 Under <quote>API Access</quote> you will find a <quote>Create client ID</quote> option. Use this to
 create a new Client ID and Secret.

 <%=form_tag("step_2", :method=>"POST") do %>
   <%=label_tag :client_id%>
   <%=text_field_tag :client_id, nil, :required=>true%>
   <%=label_tag :client_secret%>
   <%=text_field_tag :client_secret, nil, :required=>true%>
   <%=label_tag :Google_email_address%>
   <%=email_field_tag :email_address, nil, :required=>true%>
   <%=submit_tag "next"%>
 <%end%>