<%unless flash[:errors].nil?%>
  <div id="vb_flash_messages">
    <%=flash[:errors]%>
  </div>
<%end%>  
<div id="vb_form">
<h2>
  about page
</h2>
<%= form_tag("/about/edit", :method=>"POST") do %>
  <div class="vb_admin_inputs">
  <small>This is the content for your about page. Feel free to format and add images.</small>
    <%= text_area_tag :about, @blog.about ,:id=>"textEditor" %>
  <div class="vb_admin_inputs">
    <%= submit_tag %>
    <%= link_to 'cancel', :back %>
  </div>  
<% end %>
<script type="text/javascript" src="/assets/javascripts/ckInjector.js"></script>
<script type="text/javascript">
  ckInjector(textEditor);
</script>
</div>