@import url(http://fonts.googleapis.com/css?family=Arimo);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import "_global.scss";

$white:#fefefe;
$blue:#00688B;
$dblue:darken($blue, 15%);
$tan:#C9A16C;
$dtan:darken($tan,15%);
$charcoal:#555;
$paleGrey:#F0F0F0;

body,html
{
  background:$white;
	font-family: 'Arimo', sans-serif;
	color:$charcoal;
}
a
{
  color:$blue;
  text-decoration:none;
  -webkit-transition: all,.5s;
  -moz-transition: all, .5s;
  transition: all,.5s;
	&:hover
    {
    	color:lighten($blue, 20%);
    }
}

header
{
  text-align:center;
  nav
  {
    -moz-transition:all,.5s;
    -webkit-transition:all,.5s;
    transition:all,.5s;
    background:$tan;
    height:100%;
    width:50%;
    position:fixed;
    left:-50%;
    top:0;
    text-align:left;
    padding-left:1rem;
    
    @media screen and (min-width:1024px)
    {
      background:darken($white, 10%);
      position:static;
      width:100%;
      text-align:center;
      margin:auto;
    }

    *
    {
      display:block;
      text-transform:capitalize;
      margin-top:1rem;
      
      @media screen and (min-width:1024px)
      {
        display:inline-block;
        margin:1rem;
      }
    }
  }
  .show_nav
  {
    left:0;
  }

}

#vb_flash_messages
{
  width:100%;
  border:red solid thick;
  border-radius:.25rem;
  background:lighten(red, 25%);
  font-weight:bold;
  color:white;
  padding:1rem;
  text-align:center;

}

#vb_admin_menu_toggle
{
  border: thin solid $blue;
  font-family:inherit;
  text-transform:uppercase;
  color:$dblue;
  background:none;
  border-radius:.25rem;
  
  @media screen and (min-width:1024px)
  {
    display:none;
  }


}

h1
{
	font-family: 'Josefin Sans', sans-serif;	
    a
    {
    	color:$tan;
    	&:hover
    	{
    	  color:$tan;
    	}
    }
    
}

h2
{
  text-transform:Capitalize;
}


#vb_admin_main
{
  @media screen and (min-width:768px)
  {
    width:80%;
    margin:auto;
  }
}

#vb_admin_posts_per_page
{
  text-align:center;
  border-radius:.25rem;
  padding:.25rem;
  color:$white;
  background:$charcoal;
  display:inline-block;
  float:right;
  margin-bottom:1rem;
  margin-right:1rem;

  a
  {
    color:$tan;
  }
  .current_posts_per_page
  {
    color:darken($tan, 20%);
  }

}


table
{
	width:100%;
  border-collapse:collapse;
}

tbody
{
  border:1px solid $paleGrey;
 
}

td
{
  padding:.25rem;
}

tr:nth-child(even)
{
  background:lighten($tan, 30%);
}

th
{
	text-transform:capitalize;
  text-align:left;
}


#vb_admin_posts
{
  td:nth-child(2)
  {
    width:90%;
  }

  th,td:nth-child(1),td:nth-child(3),td:nth-child(4)
  {
    display:none;
  } 

  @media screen and(min-width:640px)
  {

    th, td
    {
      display:table-cell!important;
    }
 
    td:nth-child(2)
    {
      width:40%
    }
  }

}
#vb_admin_themes
{
  border:thin solid $paleGrey;
  padding:.5rem;  
  padding-bottom:2rem;
  margin-bottom:3rem;
}

#vb_admin_categories
{
  @media screen and (min-width:1024px)
  {
    width:50%;
  }

  td:nth-child(3)
  {
    background:$white;
  }
}

#vb_form
{
  @media screen and (min-width:1024px)
  {
    width:80%;
    margin:auto;
  }
}

#vb_admin_post_form_published_tags
{
  label
  {
    display:inline-block;
  }

  input
  {
    width:0;
    height:0;
    opacity:0;

    & + span
    {
      color:darken($paleGrey, 30%);
    }

    &:checked + span
    {
      border-radius:1rem;
      padding:.4rem;
      color:white;
      background-color:lighten($charcoal, 20%);
      border: thin solid $charcoal;
    }

  }
}
    

#vb_admin_post_form_category_tags
{
  border:thin solid $paleGrey;
  border-radius:.25rem;
  margin-top:.5rem;
  margin-bottom:.5rem;
  padding:.5rem;  

  label
  {
    display:inline-block;
  }

  input[type="radio"]
  {
    width:0;
    height:0;
    opacity:0;

    & + span
    {
      font-size:1rem;
      border-radius:.25rem;
      background:$charcoal;
      color:$white;
      padding:.25rem;
    }

    &:checked + span
    {
      color:darkOrange;
    }
  }
}

.vb_admin_inputs
{
  label
  {
    margin-top:.5rem;
    display:block;
    font-size:1.25rem;
  }

  small 
  {
    color:$blue;
    display:block;
    font-style:italic;
    padding-bottom:.25rem;
  }

  input[type="text"], textarea, input[type="submit"]
  {
    width:100%;
    border:1px solid $paleGrey;
    background:$paleGrey;
    padding:.5rem;
    border-radius:.25rem;
    font-size:1.25rem;
    line-height:1.25rem;
    margin-right:1rem;
    
    @media screen and (min-width:768px)
    {
      width:50%;
    }

    @media screen and (min-width:1024px)
    {
      width:25%;
    }

  }

  textarea
  {
    height:10rem;
    resize:none;
    font-family:inherit;
    
    @media screen and (min-width:1024px)
    {
      width:50%;
    }

  }

  input[type="submit"]
  {
    background:$charcoal;
    color:$white;
    cursor:pointer;
    margin-top:.5rem;
    margin-bottom:.5rem;

    @media screen and (min-width:480px)
    {
      width:50%;
    }

    @media screen and (min-width:768px)
    {
      width:40%;
    }

    @media screen and (min-width:1024px)
    {
      width:20%;
    }
  }

  select
  {
    font-size:1.15rem;
    font-family:inherit;
    color:$white;
    background:$charcoal;
    border-radius:.25rem;
    min-width:8rem;
    margin-right:1rem;
    &:checked
    {
      color:darkOrange;
    }
  }
}
