
<%unless flash[:errors].nil?%>
  <div id="vb_flash_messages">
    <%=flash[:errors]%>
  </div>
<%end%>  
<div id="vb_form">
<%= form_for(@category) do |f| %>
  <div class="vb_admin_inputs">
    <%= f.label :name %>
    <small>The name of your category.</small>
    <%= f.text_field :name %><br/>
    <%= f.submit %>
    <%= link_to 'cancel', url_for(:back) %>
  </div>
<% end %>
</div>