
<h2>
  categories
</h2>
<div id="vb_primary">
  <div id="vb_categories_container">
    <% @categories.each do |category| %>
	  <%= link_to category.name, category, :class=>"vb_category_index_block" %>
    <% end %>
  </div>
</div>
<%=render 'sidebar' %>