<h2>
  <%= @category.name %>
</h2>
<div id="vb_primary">
  <div id="vb_categories_container">
    <%if @posts.empty? %>
      <p>
        sorry, no posts here.
      </p>
    <%else%>
      <%@posts.each do |post|%>
        <%=link_to (post.vanity_url) do%>
        <div class="vb_categories_block">
          <h3><%=post.title%></h3>
          <p><%=post.description%></p>
        </div>
        <%end%>
      <%end%>
      <%=will_paginate @posts%>
    <%end%>
  </div>
</div>
<%=render 'sidebar' %>
