 <div id="vb_sidebar">
    <div id="vb_popular_posts">
      <h3>
        popular posts
      </h3>
      <ul>
      <%@popular_posts.each do |post|%>
        <li>
          <%=image_tag post.cover_image%>
          <small><%=post.updated_at.strftime("%d/%-m/%y")%></small><br/>  
          <%=link_to post.title, post.vanity_url%>
        </li>
      <%end%>
      </ul>
    </div>
    <div id="vb_recent_posts">
      <h3>
        recent posts
      </h3>
      <ul>
        <%@popular_posts.each do |post|%>
          <li>
            <%=image_tag post.cover_image%>
            <small><%=post.updated_at.strftime("%d/%-m/%y")%></small><br/>  
            <%=link_to post.title, post.vanity_url%></li>
        <%end%>
      </ul>
    </div>
    <div id="vb_social">

    </div>
  </div>