<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Dashboard</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/javascripts/velociblogger.js"></script>
  <script src="/assets/javascripts/jquery_ujs.js"></script>
  <link rel="stylesheet" href="/assets/stylesheets/admin.css" type="text/css"/>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="loadCurtain" style="position:fixed; top:0; left:0; width:100%; height:100%; background:white; margin:0;">
</div>
<div id="vb_notification">
<p id="notice"><%= flash[:notice] %></p>
<p id="alert"><%= alert %></p>
</div>
<header id="vb_admin_header">
  <h1>
  	<a href="/admin">
  	  Admin Dashboard
    </a>
  </h1>
  <button id="vb_admin_menu_toggle" onclick="$('#vb_admin_nav').toggleClass('show_nav');">menu</button>
  <nav id="vb_admin_nav">
  <%=link_to "view live site", "/"%>
  <%=link_to "new post", new_post_path%>
  <%=link_to "new category", new_category_path%>
  <%=link_to "edit about page", "/about/edit"%>
  <%=link_to "settings", "/admin/settings"%>
  </nav>
</header>
<%= yield %>
<footer id="vb_admin_footer">
  <script type="text/javascript">
    $(document).ready(function () 
    {
      applyTheme();
      $('#loadCurtain').fadeOut();
    });
  </script>
  <script type="text/javascript">
    $('body').click(function(e){
      if($(e.target).attr('id') != 'vb_admin_menu_toggle'){
        
        $('#vb_admin_nav').removeClass('show_nav');
      }
    });
  </script>
</footer>
</body>
</html>
