<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%=Rails.application.class.parent.to_s%></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/javascripts/velociblogger.js"></script>
  <script src="/assets/javascripts/jquery_ujs.js"></script>
  <script type="text/javascript" src="/themes/<%=@blog.theme%>/javascripts/theme.js"></script>
  <link rel="stylesheet" href="/themes/<%=@blog.theme%>/stylesheets/theme.css" type="text/css"/>
  <%= csrf_meta_tags %>
</head>
<body class="<%=controller_name%>_<%=action_name%>">
<div id="loadCurtain" style="position:fixed; top:0; left:0; width:100%; height:100%; background:white; margin:0;">
  <noscript>
    Sorry, but JavaScript must be enable to view this page.
  </noscript>
</div>
<div id="vb_notification">
<p id="vb_notification_notice"><%= flash[:notice] %></p>
<p id="vb_notification_alert"><%= flash[:alert] %></p>
</div>
<header id="vb_header">
  <h1>
  	<a href="/">
  	  <%=@blog.title%>
  	</a>
  </h1>
  <nav>
    <a href="/about">
      about
    </a>
    <a href="/posts">
      posts
    </a>
    <a href="/categories">
      categories
    </a>
    <%=if is_admin? then link_to "admin","/admin" end%> 
  </nav>
</header>
<%= yield %>
<footer id="vb_footer">

  <script type="text/javascript">
    $(document).ready(function () 
    {
      applyTheme();
      $('#loadCurtain').fadeOut();
    });
  </script>
</footer>
</body>
</html>
