<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Dashboard</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/javascripts/velociblogger.js"></script>
  <script src="/assets/javascripts/jquery_ujs.js"></script>
  <link rel="stylesheet" href="/assets/stylesheets/setup.css" type="text/css"/>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="loadCurtain" style="position:fixed; top:0; left:0; width:100%; height:100%; background:white; margin:0;">
</div>
<div id="vb_notification">
<p id="notice"><%= flash[:notice] %></p>
<p id="alert"><%= alert %></p>
</div>
<header id="vb_setup_header">
  <h1>
    setting up your Velociblogger app
  </h1>
  <nav id="vb_setup_nav">
  </nav>
</header>
<%= yield %>
<footer id="vb_setup_footer">
  <script type="text/javascript">
    $(document).ready(function () 
    {
      applyTheme();
      $('#loadCurtain').fadeOut();
    });
  </script>
  
</footer>
</body>
</html>
